html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #20376f /* Background */
}

span {
    border-radius: 8px;
    padding-left: 4px;
    padding-right: 4px;
}

.footer {
    border-radius: 25px;
    position: absolute;
    bottom: 0;
    width: 90%;
    height: 60px;
    line-height: 58px;
    background-color: #20376f; /* Grey footer */
    padding-left: 20px; 
    padding-right: 0px;

        
    flex: 1;
    overflow: auto;
}

.form-control {
    margin-bottom: 16px;
    height: 300px;
}

.container {
    width: auto;
    max-width: 650px;
    padding: 5px 5px 15px 5px;
    background-color: #20376f; /* Text Input Container */
}

.footer .footer-right {
    float: right;
}

.footer .footer-left {
    float: left;
}

.featurette-divider {
    margin: 5rem 0;
}

.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}

@media (min-width: 40em) {
    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}

#bottom-half {}
.image-right {
    float: right;
}
